@import './rem-calc.scss';

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: rem-calc(20) 0;
	border-radius: rem-calc(10);

	text-decoration: none;

	&__primary {
		color: var(--branco);
		background: var(--tres-color);
	}

	&__secondary {
		color: var(--branco);
		background: var(--tres-color);
	}
}

.btn-topo{
  position: fixed;
  bottom: 20px;
  right: 20px; /* Posição no canto direito */
  background: var(--tres-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.btn-topo:hover{
	transition: all 0.5s;
	box-shadow: 6px 6px 6px #012c0e96;
}